@function pxToVW($px){
  @return ($px/1920)*100vw;
};
@function pxToRem($px){
  @return $px / 16 * 1rem;
}
#app {
  .main-container {
    min-height: 100%;
    //height: 1100px;
    transition: margin-left .28s;
    //margin-left: $sideBarWidth;
    position: relative;
  }

  .sidebar-container {
    transition: width 0.28s;
    width: $sideBarWidth !important;
    background-color: $menuBg;
    height: 100%;
    position: fixed;
    font-size: 0px;
    top: 0;
    bottom: 0;
    left: 0;
    z-index: 1001;
    overflow: hidden;

    // reset element-ui css
    .horizontal-collapse-transition {
      transition: 0s width ease-in-out, 0s padding-left ease-in-out, 0s padding-right ease-in-out;
    }

    .scrollbar-wrapper {
      overflow-x: hidden !important;
      display: flex;
    }

    .el-scrollbar__bar.is-vertical {
      right: 0px;
    }

    .el-scrollbar {
      height: 100%;
    }

    &.has-logo {
      .el-scrollbar {
        height: calc(100% - 50px);
      }
    }

    .is-horizontal {
      display: none;
    }

    a {
      display: inline-block;
      width: 100%;
      overflow: hidden;
    }

    .svg-icon {
      margin-right: 16px;
    }

    .sub-el-icon {
      margin-right: 12px;
      margin-left: -2px;
    }

    .el-menu {
      border: none;
      height: 100%;
      width: 100% !important;
    }

    // menu hover
    .submenu-title-noDropdown,
    .el-submenu__title {
      &:hover {
        background-color: $menuHover !important;
      }
    }

    .is-active>.el-submenu__title {
      color: $subMenuActiveText !important;
    }

    & .nest-menu .el-submenu>.el-submenu__title,
    & .el-submenu .el-menu-item {
      min-width: $sideBarWidth !important;
      background-color: $subMenuBg !important;

      &:hover {
        background-color: $subMenuHover !important;
      }
    }
  }
  .hideSidebar {
    .sidebar-container {
      width: 0 !important;  //默认54px，收起时会展示图标，因此我们设为0
    }

    .main-container {
      margin-left:  0;  //默认54px，收起时会留出 54px 的空白，因此我们设为0
    }

    .submenu-title-noDropdown {
      padding: 0 !important;
      position: relative;

      .el-tooltip {
        padding: 0 !important;

        .svg-icon {
          margin-left:  0;
        }
      }
    }
    // .sidebar-container {
    //     width: 54px !important;
    // }
    // .main-container {
    //     margin-left: 54px;
    // }
    // .submenu-title-noDropdown {
    //     padding: 0 !important;
    //     position: relative;
    //     .el-tooltip {
    //         padding: 0 !important;
    //         .svg-icon {
    //             margin-left: 20px;
    //         }
    //     }
    // }
    .el-submenu {
      overflow: hidden;
      &>.el-submenu__title {
        padding: 0 !important;
        .svg-icon {
          margin-left:  20px;
        }
        .el-submenu__icon-arrow {
          display: none;
        }
      }
    }
    .el-menu--collapse {
      .el-submenu {
        &>.el-submenu__title {
          &>span {
            height: 0;
            width: 0;
            overflow: hidden;
            visibility: hidden;
            display: inline-block;
          }
        }
      }
    }
  }


  //.hideSidebar {
  //  .sidebar-container {
  //    width: 54px !important;
  //  }
  //
  //  .main-container {
  //    margin-left: 54px;
  //  }
  //
  //  .submenu-title-noDropdown {
  //    padding: 0 !important;
  //    position: relative;
  //
  //    .el-tooltip {
  //      padding: 0 !important;
  //
  //      .svg-icon {
  //        margin-left: 20px;
  //      }
  //
  //      .sub-el-icon {
  //        margin-left: 19px;
  //      }
  //    }
  //  }
  //
  //  .el-submenu {
  //    overflow: hidden;
  //
  //    &>.el-submenu__title {
  //      padding: 0 !important;
  //
  //      .svg-icon {
  //        margin-left: 20px;
  //      }
  //
  //      .sub-el-icon {
  //        margin-left: 19px;
  //      }
  //
  //      .el-submenu__icon-arrow {
  //        display: none;
  //      }
  //    }
  //  }
  //
  //  .el-menu--collapse {
  //    .el-submenu {
  //      &>.el-submenu__title {
  //        &>span {
  //          height: 0;
  //          width: 0;
  //          overflow: hidden;
  //          visibility: hidden;
  //          display: inline-block;
  //        }
  //      }
  //    }
  //  }
  //}

  .el-menu--collapse .el-menu .el-submenu {
    min-width: $sideBarWidth !important;
  }

  // mobile responsive
  .mobile {
    .main-container {
      margin-left: 0px;
    }

    .sidebar-container {
      transition: transform .28s;
      width: $sideBarWidth !important;
    }

    &.hideSidebar {
      .sidebar-container {
        pointer-events: none;
        transition-duration: 0.3s;
        transform: translate3d(-$sideBarWidth, 0, 0);
      }
    }
  }

  .withoutAnimation {

    .main-container,
    .sidebar-container {
      transition: none;
    }
  }
}

// when menu collapsed
.el-menu--vertical {
  &>.el-menu {
    .svg-icon {
      margin-right: 16px;
    }
    .sub-el-icon {
      margin-right: 12px;
      margin-left: -2px;
    }
  }

  .nest-menu .el-submenu>.el-submenu__title,
  .el-menu-item {
    &:hover {
      // you can use $subMenuHover
      background-color: $menuHover !important;
    }
  }

  // the scroll bar appears when the subMenu is too long
  >.el-menu--popup {
    max-height: 100vh;
    overflow-y: auto;

    &::-webkit-scrollbar-track-piece {
      background: #d3dce6;
    }

    &::-webkit-scrollbar {
      width: 6px;
    }

    &::-webkit-scrollbar-thumb {
      background: #99a9bf;
      border-radius: 20px;
    }
  }
}


.el-menu.el-menu--horizontal {
  height: 90px;
  display: flex;
  margin: 0 auto;
  // padding: 0 calc((100% - 1645px)/2);
  justify-content: space-between;
  background: linear-gradient(0deg, #4C3BD2 0%, #0D86D1 100%);
  // div {
  //   display: flex;
  //   align-items: center;
  //   flex-direction: column;
  //   justify-content: center;
  // }
  .el-menu-item {
    height: 60px;
    font-size: pxToRem(20);
    font-weight: 300;
    color: #ffffff4d;
    // width: 63px;
    // height: 16px;
    line-height: 30px;
    margin: 28px 0;
    border-radius: 4px;
    text-align: center;
    &:hover, &.is-active {
      background: none;
      // font-weight: 500;
      //transform: scale(1.1);
      color: #fff !important;
    }
  }

  .opera {

    .el-button--mini,.el-button--small {
      font-size: 16px;
    }
    display: inline-block;
    line-height: 64px;

    .regist,.login{
      padding: 7px;
      color: #FFFFFF;
      background: linear-gradient(0deg, #4C3BD2 0%, #0D86D1 100%);
      &:hover {
        color: #516FD2;
        background: #FFFFFF;
        border-color: #516FD2;
      }
    }

    .name {
      font-size: 18px;
      font-weight: 400;
      margin-right: 20px;
      color: #FFFFFF;
    }

    .icon {
      cursor: pointer;
      width: 35px;
      height: 35px;
      vertical-align: -8px;
    }
  }

}

.head-right {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 90px;
  .opera {
      .login {
        font-size: 16px;
        color: #fff !important;
        background: transparent !important;
        border-color: #FFFFFF !important;
        border-width: 2px;
        &:hover {
            color: #0D86D1 !important;
          }
      }

      .regist {
        font-size: 16px;
        color: #fff !important;
        background: #1E86F9 !important;
        border-color: #1E86F9 !important;
        border-radius: 21px;
      }
      &.home-menu{
        height: 100%;
        line-height: 90px;
        .name {
          color: #fff !important;
        }
      }

      .name {
        font-size: 24px;
        color: #000 !important;
        margin-right: 10px;
      }
      .icon{
        color: #000;
      }
    }
}
